@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-m-black font-body;
  }
}

@layer components {
  .nav-blur {
    background-color: #ffffff10;
  }

  .nav-link {
    @apply font-medium text-m-gray text-sm hover:text-ml-gray;
  }
  .mbp {
    background-image: url("../assets/mbp3.jpg");
    /* width: 3008px; */
    width: 100%;
    height: 736px;
    /* 
    height: 698px;
    background-size: 1068px 698px; */

    background-position: center;

    background-repeat: no-repeat;
  }
}
